<!DOCTYPE html><html lang="ua"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/fonts/favicon.svg" type="image/x-icon">
    <title>Швидкий старт в арбітражі трафіку 2023</title><!-- Keitaro tracking script -->
<script id="iframe-demo" src="https://www.youtube.com/iframe_api"></script><script type="application/javascript" async src="/static/js/k.min.js"></script><script type="application/javascript">
	if (!window.KTracking) { window.KTracking = { collectNonUniqueClicks: false, multiDomain: false, R_PATH: 'https://trk.comunity.partners/DP67Pf', P_PATH: 'https://trk.comunity.partners/93042ea/postback', listeners: [], reportConversion: function () { this.queued = arguments; }, getSubId: function (fn) { this.listeners.push(fn); }, ready: function (fn) { this.listeners.push(fn); } }; } (function () { var a = document.createElement('script'); a.type = 'application/javascript'; a.async = true; a.src = 'https://trk.comunity.partners/js/k.min.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(a, s) })();
</script>
<noscript><img height="0" width="0" alt src="https://trk.comunity.partners/DP67Pf"></noscript>
  </head>
  <body class="loading">
    <div class="loader"><span class="loader__text">Завантаження<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></span></div>
    <header class="header">
      <div class="container">
        <div class="header__wrapper"><a href="/"><img class="header__logo" src="/static/fonts/logo.svg" alt="logo"></a>
          <div class="header__right"><a class="header__btn btn btn--main js-scroll" href="#instruction">Дивитися відео</a>
            <div class="header__burger burger js-burger" data-target="#js-mobile-menu">
              <div class="burger__lines"><span class="burger__line"></span><span class="burger__line"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-mobile" id="js-mobile-menu">
        <div class="menu-mobile__wrap">
          <div class="menu-mobile__center">
            <ul class="menu-mobile__list menu">
              <li class="menu__item menu-mobile__link"><a class="menu__link js-scroll" href="#promo">Головна</a></li>
              <li class="menu__item menu-mobile__link"><a class="menu__link js-scroll" href="#appeal">Практика</a></li>
              <li class="menu__item menu-mobile__link"><a class="menu__link js-scroll" href="#instruction">Твій старт</a></li>
              <li class="menu__item menu-mobile__link"><a class="menu__link js-scroll" href="#benefits">Витратні матеріали</a></li>
              <li class="menu__item menu-mobile__link"><a class="menu__link js-scroll" href="#tools">Переваги</a></li>
            </ul>
            <div class="menu-mobile__bottom"><a class="menu-mobile__btn btn btn--main js-scroll" href="#instruction">Дивитися відео</a>
              <div class="menu-mobile__lang language"><i class="fico fico-world"></i><a class="language__link" href="/">Ru</a><a class="language__link active" href="/ua/">Ua</a><a class="language__link" href="/it/">It</a><a class="language__link" href="/en/">En</a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="promo" id="promo">
      <div class="container">
        <div class="promo__content"><img class="promo__logo" src="/static/fonts/com-unity.svg" alt="com-unity">
          <h1 class="promo__title title">Швидкий старт в арбітражі трафіку 2023</h1>
          <p class="promo__text">Наша команда об'єднує засновників великих арбітражних команд і прямих рекламодавців. За п'ять років роботи кожен з нас дізнався і навчився багатьом фішкам, про які не розкажуть на курсах.</p>
          <div class="promo__buttons"><a class="promo__btn btn btn--main js-scroll" href="#instruction">Дивитися відео</a></div>
          <div class="promo__block">
            <p class="promo__label">Ми знаємо про проблеми арбітражників усе, тому допоможемо тобі уникнути помилок і дамо хороший буст для старту.</p>
          </div>
        </div>
      </div>
    </section>
    <div class="interruption interruption--top">
      <div class="interruption__wrap js-banner"><span class="interruption__text">Com.Unity</span></div>
    </div>
    <section class="appeal" id="appeal">
      <div class="container">
        <div class="appeal__wrapper">
          <picture class="appeal__image">
            <source srcset="/static/images/appeal-pic.webp" type="image/webp"><img src="images/appeal-pic.png" alt>
          </picture>
          <div class="appeal__content">
            <h2 class="appeal__title title">Досить марнувати час на курси. Пора діяти!</h2>
            <p class="appeal__text">Хочеш навчитися багато заробляти і обираєш курси, які обіцяють тобі швидкий успіх в арбітражі з нуля?</p>
            <h4 class="appeal__subtitle title">Практика — ось що має ключове значення.</h4>
          </div>
        </div>
        <div class="appeal__practice practice">
          <h2 class="practice__title">Досить марнувати час на курси. Пора діяти!</h2>
          <div class="practice__desc">
            <p class="practice__text">Подивитися, як запускати РК ≠ запустити її самому.</p>
            <p class="practice__text">Навчитися по-справжньому можна лише з практикою, постійно випробовуючи різні підходи і зв'язки. У твоїх інтересах почати діяти вже зараз!</p>
          </div>
        </div>
        <div class="appeal__bottom instr">
          <div class="instr__info">
            <h2 class="instr__title title">Допоможемо стартанути безкоштовно</h2>
            <div class="instr__desc">
              <p class="instr__text">Купуючи пакет, ти отримаєш досвідченого ментора-арбітражника. Він стане провідником і наставником, який відповідатиме на будь-які запитання і вчитиме користуватися інструментами.</p>
              <p class="instr__text">Крім цього, на самому початку ти отримаєш словник термінів і керівництво з арбітражу для новачків. Ніякої води і копіпасти з інтернету — тільки користь.</p>
            </div>
          </div>
          <picture class="instr__photo">
            <source srcset="/static/images/instruction-pic.webp" type="image/webp"><img src="/static/images/instruction-pic.png" alt loading="lazy">
          </picture>
        </div>
      </div>
    </section>
    <section class="instruction" id="instruction">
      <div class="container">
        <div class="instruction__wrapper">
          <h2 class="instruction__subtitle title" id="instruction">Отримати доступ до всіх переваг</h2>
          <div class="instruction__video js-play-video">
            <div id="video-iframe"></div>
            <script>
              var tag = document.createElement('script');
              tag.id = 'iframe-demo';
              tag.src = 'https://www.youtube.com/iframe_api';
              var firstScriptTag = document.getElementsByTagName('script')[0];
              firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
              var player;
              function onYouTubeIframeAPIReady() {
              	player = new YT.Player('video-iframe', {
              		videoId: "vatPISN2gB0",
              		playerVars: {
              			'rel': 0,
              			'autoplay': 0
              		},
              		events: {
              			'onStateChange': onPlayerStateChange
              		}
              	});
              }
              function onPlayerStateChange(event) {
              	if (event.data == YT.PlayerState.PLAYING) {
              		Animate.destroyVideoTimeline()
              	}
              }
              
              
            </script>
          </div>
          <div class="instruction__buttons">
            <div class="instruction__button-wrap instruction__button-wrap--1 js-show-popup" data-image="/img/slovar.jpg" data-target="#popup">
              <button class="instruction__btn btn btn--outline">Словник</button>
              <div class="instruction__photo-wrap"><img class="instruction__picture" src="/static/images/instruction-pic-2.jpg" alt></div>
            </div>
            <div class="instruction__button-wrap instruction__button-wrap--2 js-show-popup" data-image="/img/manual.jpg" data-target="#popup">
              <button class="instruction__btn btn btn--outline">Інструкція</button>
              <div class="instruction__photo-wrap"><img class="instruction__picture" src="/static/images/instruction-pic-3.jpg" alt></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="popup popup--instruction js-popup" id="popup">
      <div class="popup__wrap"><img class="popup__close js-close" src="/static/fonts/close.svg" alt="close">
        <div class="popup__content"><img class="popup__image" src alt></div>
      </div>
    </div>
    <section class="benefits" id="benefits">
      <div class="container benefits__wrapper">
        <div class="benefits__content">
          <h2 class="benefits__title-main title">Що ти отримаєш?</h2>
          <p class="benefits__info">Інфоцигани годують обіцянками замість реальної допомоги. А у нас ти отримаєш конкретні інструменти:</p>
          <ul class="benefits__list list">
            <li class="list__item">
              <p class="list__text">Готові зв'язки</p>
            </li>
            <li class="list__item">
              <p class="list__text">Трастові фб-акаунти</p>
            </li>
            <li class="list__item">
              <p class="list__text">Конвертні креативи</p>
            </li>
            <li class="list__item">
              <p class="list__text">Антидетект-браузер</p>
            </li>
            <li class="list__item">
              <p class="list__text">Трекер</p>
            </li>
            <li class="list__item">
              <p class="list__text">Клоака</p>
            </li>
            <li class="list__item">
              <p class="list__text">Особистий ментор в особі чинного арбітражника</p>
            </li>
          </ul>
          <p class="benefits__main title">З цим набором ти почнеш працювати вже з першого дня!</p>
        </div>
        <picture class="benefits__photo">
          <source srcset="/static/images/benefits-pic.webp" type="image/webp"><img src="/static/images/benefits-pic.png" alt>
        </picture>
      </div>
    </section>
    <section class="invest">
      <div class="container">
        <div class="invest__wrapper">
          <div class="invest__line invest__line--1">
            <div class="marquee">
              <div class="marquee__group">
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static//marquee-item-1.webp" type="image/webp"><img src="/static/images/marquee-item-1.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-2.webp" type="image/webp"><img src="/static/images/marquee-item-2.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-1.webp" type="image/webp"><img src="/static/images/marquee-item-3.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-4.webp" type="image/webp"><img src="/static/images/marquee-item-4.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-5.webp" type="image/webp"><img src="/static/images/marquee-item-5.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-6.webp" type="image/webp"><img src="/static/images/marquee-item-6.jpg" alt>
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="invest__line invest__line--2">
            <div class="marquee">
              <div class="marquee__group">
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-2-1.webp" type="image/webp"><img src="/static/images/marquee-item-2-1.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-2-2.webp" type="image/webp"><img src="/static/images/marquee-item-2-2.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-2-3.webp" type="image/webp"><img src="/static/images/marquee-item-2-3.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-2-4.webp" type="image/webp"><img src="/static/images/marquee-item-2-4.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-2-5.webp" type="image/webp"><img src="/static/images/marquee-item-2-5.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-2-6.webp" type="image/webp"><img src="/static/images/marquee-item-2-6.jpg" alt>
                  </picture>
                </div>
                <div class="marquee__item">
                  <picture>
                    <source srcset="/static/images/marquee-item-2-7.webp" type="image/webp"><img src="/static/images/marquee-item-2-7.jpg" alt>
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="invest__content">
            <h2 class="invest__title title">Краще інвестувати в інструменти, а не навчання</h2>
            <div class="invest__desc">
              <p class="invest__text">Якщо ти хочеш навчитися кататися на велосипеді, тобі потрібен велосипед, а не навчальні гайди.</p>
              <p class="invest__text">Арбітраж працює за таким самим принципом.</p>
              <p class="invest__text">Заощаджуй гроші на курсах і витрачай їх тільки на необхідне — інструменти та витратні матеріали, з якими ти будеш працювати.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tools" id="tools">
      <div class="container">
        <h2 class="tools__title title">Всі ці інструменти будуть доступні в особистому кабінеті</h2>
        <div class="tools__list">
              <div class="tool js-tool">
                <div class="tool__top">
                  <div class="tool__wrap-icon">-</div>
                  <p class="tool__title">Допрацьований <span>трекер</span> на базі Keitaro</p>
                </div>
                <p class="tool__text">Заливай рекламу швидше та зручніше.</p>
                <picture class="tool__photo">
                  <source srcset="/static/images/tool-1.webp" type="image/webp"><img src="/static/images/tool-1.jpg" alt loading="lazy">
                </picture>
              </div>
              <div class="tool js-tool">
                <div class="tool__top">
                  <div class="tool__wrap-icon">-</div>
                  <p class="tool__title">Усі види <span>креативів</span></p>
                </div>
                <p class="tool__text">Робимо будь-які крео на замовлення, будь то картинка або відеоролик.</p>
                <picture class="tool__photo">
                  <source srcset="/static/images/tool-2.webp" type="image/webp"><img src="/static/images/tool-2.jpg" alt loading="lazy">
                </picture>
              </div>
              <div class="tool js-tool">
                <div class="tool__top">
                  <div class="tool__wrap-icon">-</div>
                  <p class="tool__title">Антик <span>Octo Browser</span></p>
                </div>
                <p class="tool__text">Доступ до 150 профілів і необмеженої кількості пристроїв.</p>
                <picture class="tool__photo">
                  <source srcset="/static//tool-3.webp" type="image/webp"><img src="/static/images/tool-3.jpg" alt loading="lazy">
                </picture>
              </div>
              <div class="tool js-tool">
                <div class="tool__top">
                  <div class="tool__wrap-icon">-</div>
                  <p class="tool__title"><span>Вайтпейджі</span></p>
                </div>
                <p class="tool__text">Готові сторінки для комфортної роботи.</p>
                <picture class="tool__photo">
                  <source srcset="/static/images/tool-4.webp" type="image/webp"><img src="/static/images/tool-4.jpg" alt loading="lazy">
                </picture>
              </div>
        </div>
      </div>
    </section>
    <section class="reviews">
      <div class="reviews__wrap reviews__wrap--top js-reviews"><span><img src="/static/fonts/com-unity-reviews.svg" alt></span></div>
      <div class="reviews__wrap reviews__wrap--bottom js-reviews"><span><img src="/static/fonts/com-unity-reviews.svg" alt></span></div>
      <div class="container">
        <h2 class="reviews__title title">Що кажуть про нас веби</h2>
        <div class="reviews__list js-slider-reviews">
          <div class="reviews__slider swiper-wrapper">
            <div class="review reviews__item swiper-slide">
              <div class="review__photo-wrap"><img class="review__photo" src="/static/images/reviews-1.png" alt="Ілля Сенчук"></div>
              <div class="review__content-wrap">
                <div class="review__content">
                  <p class="review__name">Ілля Сенчук</p>
                  <div class="review__desc">
                    <p class="review__text">Чудове рішення для тих, хто роками вивчає теорію та боїться перейти до практики, щоб випадково не злити 10 баксів у мінус. Не бійтеся, починайте лити!!!</p>
                    <p class="review__text">Ви будете не самі, з вами будуть працювати справжні профі, на них у всьому можна покластися. Отримаєте все, що потрібно для хорошого заливу! Ще хочу відзначити, що назва партнерки дуже точно відображає її суть, це реально дуже згуртоване ком’юніті, нетворкінг на рівні, дуже круто!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review reviews__item swiper-slide">
              <div class="review__photo-wrap"><img class="review__photo" src="/static/images/reviews-2.png" alt="Катя Т."></div>
              <div class="review__content-wrap">
                <div class="review__content">
                  <p class="review__name">Катя Т.</p>
                  <div class="review__desc">
                    <p class="review__text">Мені 27 років, донедавна я працювала в рекламному агентстві, там від колег і получа вперше про арбітраж трафіку. Так як із запуском реклами я була більш-менш знайома, а піти з роботи думала давно, вирішила спробувати себе у цій сфері. До Com.Unity прийшла з поверховими знаннями. Прийняли мене дуже добре, дали особистого менеджера, який став для мене таким собі провідником у світ арбітража. Я доволі швидко розібралась, приблизно через 1,5 місяці вийшла на дохід, який був у мене на попередній роботі. Зараз він майже вдвічі більший, планую перейти із середнього пакету на максимальний. Хочу подякувати всім із ком’юніті, особливо моєму менторові — без вас мені було б значно складніше наважитись на звільнення і змінити своє життя!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review reviews__item swiper-slide">
              <div class="review__photo-wrap"><img class="review__photo" src="/static/images/reviews-3.png" alt="Марк Литвинов"></div>
              <div class="review__content-wrap">
                <div class="review__content">
                  <p class="review__name">Марк Литвинов</p>
                  <div class="review__desc">
                    <p class="review__text">Для мене арбітраж не є чимось новим, я почав цікавитись цією темою десь рік-два тому. Можна сказати, був самоучкою — спочатку читав якісь загальні статті, щоб зрозуміти, як це працює. Потім почав по форумах лазити, коли виникали якісь незрозумілі моменти. Короче, десь пів року пройшло, перш ніж я наважився запустити свою першу РК. І моментально був забанений :)</p>
                    <p class="review__text">Тоді стало зрозуміло, що без нормального софту не обійтись, але мені все ще не вистачало знань і досвіду, щоб вибрати ефективні інструменти. Цим мене і підкупили Com.Unity — одразу отримуєш все необхідне, ще й ментор на додачу, який підкаже, якщо десь натупиш (привіт тобі, Саня!). Зараз більш-менш розібрався, дохід вже зрушив з мертвої точки і починає потроху зростати. Впевнений, що якби робив це все самотужки, то мені знадобилось би в 10 разів більше часу. Тому всім раджу не займатись дурницями та «стрибати у воду», в Com.Unity вас плавати навчать!!!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review reviews__item swiper-slide">
              <div class="review__photo-wrap"><img class="review__photo" src="/static/images/reviews-4.png" alt="Валерій"></div>
              <div class="review__content-wrap">
                <div class="review__content">
                  <p class="review__name">Валерій</p>
                  <div class="review__desc">
                    <p class="review__text">Тільки не кидайтесь капцями, але я саме та людина, із якої різні коучі витягнули не одну тисячу. До Com.Unity прийшов якраз після одного із таких «корисних» курсів. Відразу зрозумів, що по суті нічого не знаю і нічого не вмію. В якийсь момент навіть захотілось пустити скупу чоловічу сльозу…))) Але хлопці підтримали, все зрозуміло пояснили, навчили користуватись трекером і антидеком. Ще є куди рости, звісно, але в цілому дуже задоволений своїм рішенням та вибором партнера.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review reviews__item swiper-slide">
              <div class="review__photo-wrap"><img class="review__photo" src="/static/images/reviews-5.png" alt="Ігор Макаренко"></div>
              <div class="review__content-wrap">
                <div class="review__content">
                  <p class="review__name">Ігор Макаренко</p>
                  <div class="review__desc">
                    <p class="review__text">Дуже круто, що не треба самому шукати фармера і диза, налаштовувати трекер і клоаку, тестити провальні зв’язки. Я підписався на середній пакет, це якраз оптимальний для мене варіант. Окупився сповна!!! Com.Unity реально дають для профітного заливу все, що потрібно. Просто бери і роби!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review reviews__item swiper-slide">
              <div class="review__photo-wrap"><img class="review__photo" src="/static/images/reviews-6.png" alt="Макс Ш."></div>
              <div class="review__content-wrap">
                <div class="review__content">
                  <p class="review__name">Макс Ш.</p>
                  <div class="review__desc">
                    <p class="review__text">Я пройшов лише один інфокурс про СРА, після нього уявив себе богом арбітража, лол))) Спробував запустити РК, злив купу бабла, вихлопу нуль. Хотів налаштувати антік, теж нічого не виходило, бани полетіли. Проклинав тих інфоциганів ще довго, я ж їм відвалив 2 штуки зелені))</p>
                    <p class="review__text">Але я людина вперта, доки свого не досягну, не заспокоюсь!!! Добре, що хоч не пішов на черговий майстер-клас — відразу запартнерився з Com.Unity. Нарешті процес пішов: дали ментора, дали нормальні зв'язки, дали креативи. Все швидко налаштували, сапорт відповів на купу моїх тупих запитань, вибачте, що настраждались)) І велике дякую всім — цей формат роботи реально топ!!!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-arrow swiper-arrow-next swiper-button-next">></div>
          <div class="swiper-arrow swiper-arrow-prev swiper-button-prev"><</div>
        </div>
      </div>
    </section>
    <section class="partners">
      <div class="container">
        <h2 class="partners__title title">Партнери Com.Unity</h2>
        <div class="partners__list"><a class="partners__item" href="https://partnerkin.com/" target="_blank"><img class="partners__photo" src="/static/images/partners-1.png" alt></a><a class="partners__item" href="https://conversion.im/" target="_blank"><img class="partners__photo" src="images/partners-2.png" alt></a><a class="partners__item" href="https://fb-killa.pro/" target="_blank"><img class="partners__photo" src="images/partners-3.png" alt></a><a class="partners__item" href="https://affhub.media/" target="_blank"><img class="partners__photo" src="/static/fonts/partners-4.svg" alt></a><a class="partners__item" href="https://adheart.me/" target="_blank"><img class="partners__photo" src="images/partners-5.png" alt></a></div>
      </div>
    </section>
    <div class="interruption">
      <div class="interruption__wrap js-banner"><span class="interruption__text">Com.Unity</span></div>
    </div>
    <section class="tariffs">
      <div class="container">
        <h2 class="tariffs__title title">Вибір тарифу</h2>
        <div class="tariffs__wrapper">
          <div class="tariffs__list js-slider-tariffs">
            <div class="tariffs__slider swiper-wrapper">
                  <div class="tariff js-tariff swiper-slide" data-tariff="junior">
                    <div class="tariff__top">
                      <div class="tariff__wrap-icon"><img class="tariff__icon" src="/static/fonts/tariff-icon-1.svg" alt loading="lazy"></div>
                      <p class="tariff__price">499 <span>$</span></p>
                    </div>
                    <ul class="tariff__list list-check">
                      <li class="list-check__text">
                        <p>Акаунти — 60 шт.</p>
                      </li>
                      <li class="list-check__text">
                        <p>Креативи — 30 шт.</p>
                      </li>
                      <li class="list-check__text">
                        <p>Вайтпейджі — 5 шт.</p>
                      </li>
                      <li class="list-check__text">
                        <p>Домени — 30 шт.</p>
                      </li>
                      <li class="list-check__text">
                        <p>Трекер </p>
                      </li>
                      <li class="list-check__text">
                        <p>Антидетект-браузер </p>
                      </li>
                      <li class="list-check__text">
                        <p>Налаштування клоаки </p>
                      </li>
                      <li class="list-check__text">
                        <p>Прив'язка доменів до CloudFlare </p>
                      </li>
                      <li class="list-check__text">
                        <p>Налаштування трекера </p>
                      </li>
                      <li class="list-check__text">
                        <p>Створення сетапів</p>
                      </li>
                      <li class="list-check__text">
                        <p>Перенесення акаунтів в антидетект-браузер</p>
                      </li>
                      <li class="list-check__text">
                        <p>Консалтинг і підтримка мідл-арбітражника на 1 місяць</p>
                      </li>
                    </ul>
                  </div>
                  <div class="tariff js-tariff swiper-slide" data-tariff="middle">
                    <div class="tariff__top">
                      <div class="tariff__wrap-icon"><img class="tariff__icon" src="/static/fonts/tariff-icon-2.svg" alt loading="lazy"></div>
                      <p class="tariff__price">999 <span>$</span></p>
                    </div>
                    <ul class="tariff__list list-check">
                      <li class="list-check__text">
                        <p>Акаунти — 150 шт.</p>
                      </li>
                      <li class="list-check__text">
                        <p>Креативи — 60 шт.</p>
                      </li>
                      <li class="list-check__text">
                        <p>Вайтпейджі — 10 шт.</p>
                      </li>
                      <li class="list-check__text">
                        <p>Домени — 60 шт.</p>
                      </li>
                      <li class="list-check__text">
                        <p>Трекер</p>
                      </li>
                      <li class="list-check__text">
                        <p>Антидетект-браузер</p>
                      </li>
                      <li class="list-check__text">
                        <p>Налаштування клоаки </p>
                      </li>
                      <li class="list-check__text">
                        <p>Прив'язка доменів до CloudFlare </p>
                      </li>
                      <li class="list-check__text">>
                        <p>Налаштування трекера </p>
                      </li>
                      <li class="list-check__text">
                        <p>Створення сетапів з акаунтів </p>
                      </li>
                      <li class="list-check__text">
                        <p>Перенесення акаунтів в антидетект-браузер</p>
                      </li>
                      <li class="list-check__text">
                        <p>Консалтинг з топ-арбітражником на тему «Креативи»</p>
                      </li>
                      <li class="list-check__text">>
                        <p>Консалтинг з топ-арбітражником на тему «Вибір оффера»</p>
                      </li>
                      <li class="list-check__text">
                        <p>Консалтинг і підтримка мідл-арбітражника на 1 місяць</p>
                      </li>
                    </ul>
                  </div>
                  <div class="tariff js-tariff swiper-slide" data-tariff="senior">
                    <div class="tariff__top">
                      <div class="tariff__wrap-icon"><img class="tariff__icon" src="/static/fonts/tariff-icon-3.svg" alt loading="lazy"></div>
                      <p class="tariff__price">1999 <span>$</span></p>
                    </div>
                    <ul class="tariff__list list-check">
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Акаунти — 330 шт.</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Креативи — 130 шт.</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Вайтпейджі — 20 шт.</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Домени — 120 шт.</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Трекер</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Антидетект-браузер</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Налаштування клоаки </p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Прив'язка доменів до CloudFlare </p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Налаштування трекера </p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Створення сетапів з акаунтів </p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Перенесення акаунтів в антидетект-браузер</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Консалтинг з топ-арбітражником на тему «Креативи»</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Консалтинг з топ-арбітражником на тему «Вибір оффера»</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Рекрутингові послуги з пошуку одного веб-майстра в команду</p>
                      </li>
                      <li class="list-check__text"><i class="fico fico-check"></i>
                        <p>Консалтинг і підтримка топ-арбітражника на 1 місяць</p>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="swiper-arrow swiper-arrow-next swiper-button-next"><i class="fico fico-arrow-next"></i></div>
            <div class="swiper-arrow swiper-arrow-prev swiper-button-prev"><i class="fico fico-arrow-prev"></i></div>
            <div class="tariffs__scrollbar scrollbar js-slider-tariffs-scrollbar"></div>
          </div>
          <div class="tariffs__col" id="tariffs">
            <form class="form js-order-from" action="/" method="post" data-validation-schema="success-form">
              <h2 class="form__title">Приєднатися до Com.Unity!</h2>
              <input class="form__input" id="js-tariff-input" type="hidden" name="tariff" value="junior">
              <div class="form__input-wrap js-input-wrap">
                <input class="form__input js-input" type="text" name="name">
                <p class="form__label">Ім'я</p><span class="form__error js-error"></span>
              </div>
              <div class="form__input-wrap js-input-wrap">
                <input class="form__input js-input" type="tel" name="phone">
                <p class="form__label">Номер телефону</p><span class="form__error js-error"></span>
              </div>
              <div class="form__input-wrap js-input-wrap">
                <input class="form__input js-input" type="email" name="email">
                <p class="form__label">Email</p><span class="form__error js-error"></span>
              </div>
              <div class="form__input-wrap js-input-wrap">
                <input class="form__input js-input" id="telegram" type="text" name="telegram">
                <p class="form__label">Telegram</p><span class="form__error js-error"></span>
              </div>
              <button class="form__btn btn btn--main">Відправити заявку</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="popup popup--white popup--order js-order-popup">
      <div class="popup__wrap"><img class="popup__close js-close" src="/static/fonts/close.svg" alt="close">
        <div class="popup__block">
          <p class="popup__text">Чудово! Скоро з тобою зв'яжеться менеджер, а поки що приєднуйся до телеграм-каналу<br><a target="_blank" href="https://t.me/comunity_tg">Com.Unity</a></p>
          <button class="popup__btn btn btn--main js-close">ОК</button>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper"><img class="footer__logo" src="/static/fonts/logo.svg" alt="com-unity">
          <div class="footer__right"><a class="footer__link" href="" target="_blank">ФОП Асєєв Михайло Антонович</a><a class="footer__link" href="" target="_blank">+380735692637</a><a class="footer__link" href="" target="_blank">Умови для рекламодавців</a><a class="footer__link" href="" target="_blank">Умови для видавців</a>
            <p class="footer__copy">© com.unity 2022</p>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup popup--white js-video-popup js-popup">
      <div class="popup__wrap"><img class="popup__close js-close" src="/static/fonts/close.svg" alt="close">
        <div class="popup__block">
          <p class="popup__text">Не забудь подивитись наше відео, якщо одразу хочеш вловити суть</p>
          <div class="popup__video">
            <iframe src="https://www.youtube.com/embed/vatPISN2gB0?rel=0" title="💰Как зарабатывать в арбитраже трафика? / Арбитраж трафика в одиночку в 2023 это реально! / com.unity" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe>
          </div><a class="popup__btn btn btn--main js-scroll js-close" href="#instruction">Подивитися</a>
        </div>
      </div>
    </div>
    <div class="overlay js-overlay"></div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body></html>